# База данных
DATABASE_URL=postgresql+asyncpg://kipmini_user:kipmini_password@localhost:5432/kipmini_db

# JWT - здесь МАКЕТ, каждый разработчик вставляет свой ключ
SECRET_KEY=вставьте_свой_секретный_ключ_здесь

# Настройки токена
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Доп. настройки
DEBUG=True